.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  text-align: center;
}

li {
  width: 50vw;
  min-width: 150px;
  text-decoration: none;
  display: grid;
  border-bottom: 1px solid black;
  grid-template-columns: 40px 170px 150px;
}
